@charset "utf-8";
@import url('reset.css');
@import url('typo.css');

/* 헤더 */
header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    padding: 12px 30px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}
nav {
    display: none;
}
/* 섹션1 */
#main_img {
    position: relative;
}

#main_img h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#main_img b {
    padding: 6px 12px 10px;
    background: rgba(104, 96, 96, 0.706);
}

#main_img span{
    position: none;
}

/* 섹션2~4 공통 */
.section {
    padding: 81px 30px 0;
}

.section h2 {
    line-height: 1;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    margin-bottom: 20px;
}

.section li {
    margin-bottom: 16px;
}

/* 섹션2 */
#menu h2 {
    margin-bottom: 40px;
}

#menu li {
    position: relative;
    border: 1px solid #f1f1f1;
}

#menu h3 {
    position: absolute;
    left: 0;
    top:0;
    padding: 4px 12px;
    background: #9c9c9c6f;  
}

/* 섹션3 */
#event > p {
    margin-bottom: 40px;
}

#event h3 {
    margin-top: 16px;
}
#event li p:first-of-type {
    margin: 8px 0;
}

#event a {
    display: block;
    background: #ccc;
    text-align: center;
    padding: 6px 0;
    margin-top: 16px;
}


/* 섹션4 */
#news input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ccc;
}


#news button {
    padding: 12px 16px;
    margin: 20px 0 45px;
    background: #000;
}

#news .map {
    height: 185px;
}


/* 푸터 */
footer {
    background: #000;
    text-align: center;
    margin-top: 8px;
    padding: 30px 0;
}

footer span:nth-last-of-type(1), footer span:nth-last-of-type(3){
    display: none;
}

/* 600이상 */
@media (min-width: 600px) {
    /* 헤더 */
    header {
        display: flex;
        justify-content: space-between;
       }
    
       /* 네비게이션 */
        nav {
            display: block;
        }
    
        nav ul {
            display: flex;
        }
    
        nav ul li:not(:first-of-type) {
            margin-left: 36px;
        } 

        /* 메인 타이틀 */

        #main_img .main_tit {
            white-space: nowrap;
        }

        #main_img span {
            display: inline-block;
            margin-left: 16px;
            text-shadow: 1px 0px 5px #000;
        }   
            /* 섹션2~4 공통 */
        .section ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

       .section li {
            width: calc(50% - 8px);
       }

         /* 섹션3 */
        #event li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }

   #event li div {
    height: 250px;
    }

      /* 섹션4 */

   #news .map {
    height: 400px;
   }


}


/* 992이상 */
@media (min-width: 992px) {
 
   /* 섹션1 */
   #main_img {
    max-width: 1496px;
    margin: 0 auto;
    
   }
   /* 섹션2~4 공통 */
   .section {
    width: 1496px;
   padding: 81px 0px 0;
   margin: 0 auto;
    }

    .section li {
        width: calc(25% - 8px);
       }

  

   /* 섹션4 */

   #news .map {
    height: 845px;
   }

   /* 푸터 */
   footer span:nth-last-of-type(1), footer span:nth-last-of-type(3){
    display: inline-block;
    }
    footer span:nth-last-of-type(2) {
    display: none;
    }

} 

/* @media (min-width:1573px) {

   .section {
    padding: 81px 0px 0;
    }





} */

